@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-sm: 300px;
  --breakpoint-md: 548px;
  --breakpoint-lg: 1000px;
  --font-primary:"Roboto","sans-serif";
}
